@import "../../global/style/utility/index";

@keyframes pulse {
  0% {
    background: #000;
  }

  50% {
    background: orange;
  }
}

.floor {
  position: relative;
  top: 0;
  color: darkslategrey;
  box-sizing: content-box;
  padding: 0 10rem;
  transition: 2s ease margin;
  user-select: none;
}

.inner {
  position: absolute;
  top: 2rem;
  left: 36rem;
}

.background {
  width: 2000px;
}

.employeesField {
  @include objectField();
}

.objectsField {
  @include objectField();
}

.floorIndex {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  padding: 2rem 0;

  .floor:nth-child(1) & {
    background: adjust-hue($innViolet, 180deg);
  }
  .floor:nth-child(2) & {
    background: adjust-hue($innViolet, 135deg);
  }
  .floor:nth-child(3) & {
    background: adjust-hue($innViolet, 90deg);
  }
  .floor:nth-child(4) & {
    background: adjust-hue($innViolet, 45deg);
  }
  .floor:nth-child(5) & {
    background: adjust-hue($innViolet, 0);
  }
}

.floorIndex__number {
  text-shadow: 2px 2px 0 rgba(black, .2);
  position: absolute;
  position: sticky;
  top: 2rem;
}

.testObject {
  position: absolute;
  width: 5px;
  height: 5px;
  background: orange;
}

.collapsed {
  &:nth-child(1) {
    margin-top: 0;
  }
  &:nth-child(2) {
    margin-top: -1010px;
  }
  &:nth-child(3) {
    margin-top: -1304px;
  }
  &:nth-child(4) {
    margin-top: -1255px;
  }
  &:nth-child(5) {
    margin-top: -1205px;
  }
}