@import "../../global/style/utility/index";

@keyframes pulse {
  0% {
    background: #000;
  }

  50% {
    background: orange;
  }
}

.floor {
  position: relative;
  color: green;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0 10rem;
}

.inner {
  position: absolute;
  top: 2rem;
  left: 36rem;
}

.background {
  width: 2000px;
}

.tile {
  position: absolute;
  font-size: .8rem;
  color: rgba(blue, .2);
  //border: 1px solid rgba(red, .5);
  &:hover {
    color: inherit;
    outline: 1px solid red;
  }
  &::before,
  &::after {
    content: '';
    border-radius: 5px;
    display: block;
    width: 5px;
    height: 1px;
    background: black;
    //animation: pulse 1s infinite;
    position: absolute;
    top: 0;
    left: -2px;
  }
  &:after {
    top: -2px;
    left: 0;
    width: 1px;
    height: 5px;
  }
}

.employeesField {
  @include objectField();
}

.objectsField {
  @include objectField();
}

.floorIndex {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  padding: 2rem 0;

  .floor:nth-child(1) & {
    background: adjust-hue(#6A4E85, 180deg);
  }
  .floor:nth-child(2) & {
    background: adjust-hue(#6A4E85, 135deg);
  }
  .floor:nth-child(3) & {
    background: adjust-hue(#6A4E85, 90deg);
  }
  .floor:nth-child(4) & {
    background: adjust-hue(#6A4E85, 45deg);
  }
  .floor:nth-child(5) & {
    background: adjust-hue(#6A4E85, 0);
  }
}

.floorIndex__number {
  text-shadow: 2px 2px 0 rgba(black, .2);
  position: absolute;
  position: sticky;
  top: 2rem;
}

.testObject {
  position: absolute;
  width: 5px;
  height: 5px;
  background: orange;
}