.floor {
  position: relative;
  color: green;
  padding-top: 800px;
  background-image: url(../../assets/3rd-floor.png);
  background-position: center;
  -webkit-background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 800px;
}

.inner {
  position: relative;
  transform: translateY(50%);
}

.tile {
  position: absolute;
  font-size: .8rem;
  color: rgba(blue, .2);
  &:hover {
    color: inherit;
    border: 1px solid red;
  }
  &::before {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
  }
}