@import "../../global/style/utility/index";

@keyframes pulse {
  0% {
    background: #000;
  }

  50% {
    background: orange;
  }
}

.floor {
  position: relative;
  color: green;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0 10rem;
}

.inner {
  position: absolute;
  top: 2rem;
  left: 36rem;
}

.background {
  width: 2000px;
}

.tile {
  position: absolute;
  font-size: .8rem;
  color: rgba(blue, .2);
  //border: 1px solid rgba(red, .5);
  &:hover {
    color: inherit;
    outline: 1px solid red;
  }
  &::before,
  &::after {
    content: '';
    border-radius: 5px;
    display: block;
    width: 5px;
    height: 1px;
    background: black;
    //animation: pulse 1s infinite;
    position: absolute;
    top: 0;
    left: -2px;
  }
  &:after {
    top: -2px;
    left: 0;
    width: 1px;
    height: 5px;
  }
}

.employeesField {
  @include objectField();
}