@import '../../../global/style/utility/index';

//$size: 75px;

.table {
  display: block;
  z-index: z(ontop);
  outline: 1px solid blue;
}

.image {
  //@include stretch();
}

.vertical {
  background-image: url('../../../assets/furniture/table_right.png');
}
