@mixin stretch($pos: absolute) {
  position: $pos;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin absoluteStretch() {
  @include stretch(absolute);
}

@mixin fixedStretch() {
  @include stretch(fixed);
}