$innViolet: #6A4E85;
$innYellow: #f5b105;
$innDarkBlue: #12121c;
$black: #000;
$fontFamily: 'Gotham', sans-serif;

$layerWidth: 2500px;
$navButtonSize: 50px;
$fixedElementsPadding: 20px;
$borderRadius: 10px;
$boxShadow: 0 2px 10px -4px #000;

$mono-black200: rgba(black, .2);
