@import '../../global/style/utility/index';

$between: 10px;

.floorsIndicator {
  position: fixed;
  right: $fixedElementsPadding;
  top: 0;
  bottom: 0;
  width: $navButtonSize;
  z-index: z(navigation);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.floorIndicator {
  position: relative;
  overflow: hidden;
  flex-grow: 0;
  border: 1px solid $innDarkBlue;
  cursor: pointer;
  font-size: 25px;
  user-select: none;
  outline: none;
  font-family: $fontFamily !important;
  border-radius: $navButtonSize;
  height: $navButtonSize;
  margin-bottom: 10px;
}

.floorIndicator::before {
  content: '';
  position: absolute;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background: $innYellow;
  z-index: 0;
  left: -$between *2;
  right: -$between *2;
  bottom: -$between;
  top: -$between;
  margin: auto;
  opacity: 0;
  //transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: ease;
  transition-duration: .5s;
  transition-property: all;
  border-radius:  50%;
}


.floorIndicator_lower::before {
  transform: translateY(-100%);
}

.floorIndicator_lowerActive::before {
  transform: translateY(-65%);
  opacity: 1;
}

.floorIndicator_active::before {
  opacity: 1;
  transform: translateY(0);
}

.floorIndicator_higher::before {
  transform: translateY(100%);
}

.floorIndicator_higherActive::before {
  transform: translateY(65%);
  opacity: 1;
}



.floorIndicatorText {
  position: relative;
  z-index: 1;
}
