@import '../../global/style/utility/index';

.floorsIndicator {
  position: fixed;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 50px;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.floorIndicator {
  flex-grow: 0;
  border: 1px solid slategrey;
  background: white;
  cursor: pointer;
  font-size: 25px;
  user-select: none;
  outline: none;
  border-radius: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.viewportImitator {
  display: none;
  position: absolute;
  width: 100%;
  height: 5px;
  background: #000;
}
