$fadedGrey: lighten(lightgrey, 17%);
$fadedBlack: rgba(black, .5);
$fadedFadedBlack: lighten($fadedBlack, 50%);

.objectsPalette {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  display: flex;
  background: $fadedGrey;
  border: 3px solid $fadedGrey;
  border-radius: 5px;
  padding: 10px;
  box-shadow:
          0 1px 5px $fadedBlack inset,
          0 1px 5px $fadedBlack;
}

.employees {
  display: flex;
  padding-right: 10px;
  flex-wrap: wrap;
}

.employee {
  background: white;
  padding: 10px;
  border: 1px solid red;
}

.isSelected {
  background: blue;
  color: white;
}

.furniture {
  padding-left: 10px;
  border-left: 1px solid lighten($fadedBlack, 50%);
  display: flex;
  flex-wrap: wrap;
}

.furni {
  margin-right: 3px;
  margin-bottom: 3px;
  border-radius: 3px;
  border: 1px solid $fadedFadedBlack;
  padding: 2px;
  cursor: pointer;

  &:hover {
    border-color: $fadedBlack;
  }

  img {
    display: block;
  }
}