@import "../../global/style/utility/index";

$fadedGrey: lighten(lightgrey, 17%);
$fadedBlack: rgba(black, .5);
$fadedFadedBlack: lighten($fadedBlack, 50%);

.objectsPalette {
  position: absolute;
  right: $fixedElementsPadding;
  bottom: $fixedElementsPadding;
  width: calc(100% - #{$fixedElementsPadding}*2);
  display: flex;
  background: $fadedGrey;
  border: 3px solid $fadedGrey;
  border-radius: $borderRadius;
  padding: 10px;

  & > div {
    padding: 0 10px;
  }
  & > div:not(:first-child) {
    border-left: 1px solid lighten($fadedBlack, 50%);
    padding-left: 20px;
  }
}

.employees {
  display: flex;
  flex-wrap: wrap;
}

.employeesButtons {
  display: flex;
  padding-right: 10px;
  flex-wrap: wrap;
}

//.employee {
//  background: white;
//  padding: 10px;
//  border: 1px solid red;
//}

.isSelected {
  background: blue;
  color: white;
}

.furniture {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5px;
}

.furni {
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid $fadedFadedBlack;
  padding: 2px;
  cursor: pointer;

  &:hover {
    border-color: $fadedBlack;
  }

  img {
    display: block;
  }
}

.bg {
  opacity: 0;
}

.empl {
  width: 40px;
  height: 40px;
  position: relative;
}

.heading {
  margin-bottom: 20px;
}
