@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham/Gotham-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: bold;
    src: url('/fonts/Gotham/Gotham-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-style: italic;
    src: url('/fonts/Gotham/Gotham-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/Gotham/Gotham-BoldItalic.woff2') format('woff2');
}
