.info-panel {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
}

.info-panel__occupation-button {
  cursor: pointer;
}

.info-panel__occupation-button_highlighted {
  box-shadow: 0 0 3px red;
}
