@import "../../global/style/utility/index";

.tileField {
  @include objectField();
}

.inner {
  position: absolute;
  left: 0;
}


.global_tile_on .tile {
  border: 1px solid #4f163a;
  border-right: none;
  border-bottom: none;
  position: absolute;
  cursor: pointer;

  &:hover {
    background: rgba(cyan, .6);
  }
}

.tile::after {
  content: '';
  position: absolute;
  background: black;
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.controls__input {
  width: 500px;
  display: block;
}

.dummy {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: rgba(red, .8);
  color: wheat;
}