.field {
  position: absolute;
  top: 6.2rem;
  left: 123.3rem;
  //perspective: 50rem;
  //transform-style: preserve-3d;
}

.inner {
  position: absolute;
  left: 0;
}

.tile {
  border: 1px solid red;
  border-right: none;
  border-bottom: none;
  position: absolute;
  cursor: pointer;

  &:hover {
    background: rgba(cyan, .6);
  }
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.controls__input {
  width: 500px;
  display: block;
}

.dummy {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: blue;
  color: wheat;
}