.field {
  position: absolute;
  top: 70rem;
  left: 35rem;
  //perspective: 50rem;
  //transform-style: preserve-3d;
}

.inner {
  position: absolute;
  left: 0;
  //pointer-events: none;
  //transform: rotateX(-49.6deg) rotateY(-12.4deg) rotateZ(-47.8deg);
}

.tile {
  border: 1px solid red;
  border-right: none;
  border-bottom: none;
  position: absolute;
  cursor: pointer;
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.controls__input {
  width: 500px;
  display: block;
}

.dummy {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: blue;
  color: wheat;
}