@import '../../global/style/utility/index';

.floors {
  position: relative;
  z-index: z(floors);
  overflow: auto;
  height: 100vh;
}


.floors-inner {
  width: $layerWidth;
  position: relative;
  background: #111;
}

.controls {
  position: fixed;
  width: 100%;
  bottom: 5rem;
  z-index: z(controls);
}

.checkbox {
  padding: 10px;
  background: white;
  color: #000;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: z(ontop);
  cursor: pointer;
}
