@import '../../global/style/utility/index';

$pad: 20px;

.search {
  position: fixed;
  top: $fixedElementsPadding;
  left: $fixedElementsPadding;
  z-index: z('search');
  height: $navButtonSize - 10px;
  font-size: 1.5rem;
  font-family: $fontFamily;
}

#autosuggest {
  height: 100%;
}

.search-input {
  font-size: inherit;
  font-family: inherit;
  width: $navButtonSize;
  height: 100%;
  padding: $pad/2 $pad $pad/2 $pad*2;
  border: none;
  box-shadow: 0 2px 10px -4px #000;
  outline: none;
  width: 300px;
  border-radius: $borderRadius;
  transition: .3s ease;
  transition-property: border;
}

.search__suggestion-item {
  background: white;
  padding: $pad/2 $pad;
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
}

.autosuggest__results-container {
  width: 100%;
  border: 1px solid rgba(black, .2);
}

.search__icon {
  position: absolute;
  fill: $mono-black200;
  left: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  ::-webkit-input-placeholder {color: $innYellow;}
  ::-moz-placeholder          {color: $innYellow;}/* Firefox 19+ */
  :-moz-placeholder           {color: $innYellow;}/* Firefox 18- */
  :-ms-input-placeholder      {color: $innYellow;}
}
