@import '../../global/style/utility/index';

$pad: 20px;

.search {
  position: fixed;
  top: $fixedElementsPadding;
  right: $fixedElementsPadding;
  z-index: z('search');
  height: $navButtonSize;
  font-size: 1.5rem;
  font-family: $fontFamily;
}

#autosuggest {
  height: 100%;
}

.search-input {
  font-size: inherit;
  font-family: inherit;
  width: $navButtonSize;
  height: 100%;
  padding: $pad/2 $pad;
  border: 1px solid $innDarkBlue;
  outline: none;
  border-radius: $navButtonSize;
  transition: .3s ease width;


  &:focus {
    border-color: $innYellow;
    width: 300px;
  }
}

.search__suggestion-item {
  background: white;
  padding: $pad/2 $pad;
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
}

.autosuggest__results-container {
  width: 100%;
  border: 1px solid rgba(black, .2);
}

.search__icon {
  position: absolute;
  fill: $black;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.search-input:focus ~ .search__icon {
  right: -20px;
}
