@import '../../global/style/utility/index';

$duration: .3s;

.employee {
  //border: 1px solid black;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  transition: .2s ease;
  transition-property: box-shadow, background-color;

  &::after {
    @include absoluteStretch;
    content: '';
    position: absolute;
    transform: scale(.5);
    background-color: rgba($black, .65);
    border-radius: 50px;
    transition: .3s ease ;
    transition-property: transform, background-color;
  }

  &:hover::after {
    background-color: $black;
    transform: scale(1);
  }
}

.card {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background: white;
  border: 1px solid grey;
  padding: 10px;
  padding-left: 70px;
  text-align: left;
  transition: $duration ease;
  transition-property: top, opacity, visibility;

  .employee:hover &,
  .employee_active & {
    opacity: 1;
    visibility: visible;
    top: -10px;
  }
}
.card::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  transition: $duration ease height;

  .employee:hover &,
  .employee_active & {
    height: 2rem;
  }
}

@keyframes highlight {
  0% {
    box-shadow: 0 0 3px cyan;
  }
  50% {
    box-shadow: 0 0 3px 3px cyan;
  }
}

.employee_highlight {
  animation: highlight 1s linear infinite;
  border-color: cyan;
}

.photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
