@import '../../global/style/utility/index';

.employee {
  border: 1px solid black;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  &:hover {
    background: $innViolet;
    box-shadow: 0 2px 3px inset rgba(black, .5);
  }
}

.card {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
  transform: translateY(-100%);
  background: white;
  border: 1px solid grey;
  padding: 10px;
  padding-left: 70px;
  text-align: left;

  .employee:hover &,
  .employee_active & {
    display: block;
    top: 0;
  }
}
@keyframes highlight {
  0% {
    box-shadow: 0 0 3px red;
  }
  50% {
    box-shadow: 0 0 0 3px red;
  }
}

.employee_highlight {
  animation: highlight 1s linear infinite;
  border-color: red;
}

.photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
