@import 'reset.scss';

html {
  height: 100%;
  font-size: 100% / 16 * 10;
}

body {
  min-height: 100%;
  font-size: 1.6rem;
  //background-image: url('../../assets/spaceBg.jpg');
  //background-color: #040113;
}